<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suitmedia</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <img src="assets/suitmedia.png" alt="suitmedia">
        <ul>
            <li><a href="#">Work</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#" class="active">Ideas</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <section class="banner">
        <img src="assets/banner.jpg">
        <div class="banner-text">
            <h1>Ideas</h1>
            <p>Where all our great things begin</p>
        </div>
    </section>

    <section class="post" id="app">
        <div class="post-header">
            <div>Showing {{ ((currentPage-1) * perPage) + 1}} - {{ lastItem }} of {{ totalPages }}</div>
            <div class="post-filter">
                <label for="post-per-page">Post per page</label>
                <select name="post-per-page" id="post-per-page" v-model="perPage">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>

                <label for="sort">Sort by</label>
                <select name="sort" id="sort" v-model="sortBy">
                    <option value="newest">Newest</option>
                    <option value="oldest">Oldest</option>
                </select>
            </div>
        </div>
        <div class="post-container" v-if="posts">
            <card
                v-for="post in posts"
                :key="post.id"
                :title="post.title"
                :date="post.date"
                :image="post.image"
            >
        </card>
        </div>
        <div v-else>
            <p>Loading...</p>
        </div>
        <div class="post-pagination">
            <ul class="pagination">
                <li><a href="" @click="setCurrentPage(1)">«</a></li>
                <li><a href="" @click="setCurrentPage(currentPage-1)">‹</a></li>
                <li v-for="page in pages" :key="page">
                    <a href="" @click="setCurrentPage(page)" :class="{ 'active': page == currentPage }">{{ page }}</a>
                </li>
                <li><a href="" @click="setCurrentPage(currentPage+1)">›</a></li>
                <li><a href="" @click="setCurrentPage(Math.ceil(totalPages / perPage))">»</span></a></li>
            </ul>
        </div>

    </section>
    <script src="app.js"></script>
</body>
</html>