:root {
    --orange: #FF6600;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 75px;
    background-color: var(--orange);
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: top 0.8s, opacity 0.3s;
}

nav img {
    max-height: 50px;
    width: auto;
    margin-left: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 100px;
}

nav li {
    margin: 0 20px;
}

nav a {
    font-size: large;
    color: white;
    text-decoration: none;
    position: relative;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;
    transition: opacity 0.3s;
    width: 100%;
    bottom: -10px;
    opacity: 0;
    position: absolute;
}

nav a:hover::before {
    opacity: 1;
}

nav a.active::before {
    opacity: 1;
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 75%, -100px 100%);
}

.banner img {
    width: 100%;
    height: 400px;
    filter: brightness(50%);
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.banner h1 {
    font-size: 2.5rem;
}

.banner p {
    font-size: 1.25rem;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 100px;
}

.post-header {
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.select-container {
    position: relative;
    display: inline-block;
}

.select-container select {
    -webkit-appearance: none; 
    -moz-appearance: none;  
    appearance: none;    
    padding: 10px 50px 10px 15px; 
    margin-left: 10px;
}

.select-container:after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
    font-size: large; 
}

.post-header select {
    font-size: large;
    border: 1px solid silver;
    border-radius: 20px;
    cursor: pointer;
}

.post-header select:focus {
    outline: none;
}

.post-header label {
    margin-left: 15px;
}

.post-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 50px;
    padding: 20px;
    justify-items: center;
}

.card {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    width: 16rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}

.image-container {
    overflow: hidden;
    width: 100%;
    height: 160px;
    background-color: rgb(223, 223, 223);
    border-radius: 1rem 1rem 0 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    padding: 1.1rem;
}

.card-text :first-child {
    margin-bottom: 5px;
    opacity: 0.5;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.card-text h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-pagination {
    display: flex;
    justify-content: center;
}

.pagination {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
}


.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 35px;
    height: 40px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin: 0 3px;
}

.pagination a:hover {
    background-color: var(--orange);
    color: white;
}

.pagination a.active {
    background-color: var(--orange);
    color: white;
}

@media screen and (max-width: 800px) {
    .post {
        margin: 20px 20px;
    }

    nav ul {
        display: none;
    }

}